<h1><%= @experience.position %> at <%= @experience.company %></h1>
<p><%= @experience.description %></p>
<p><%= format_date_range(@experience.start_date, @experience.end_date) %></p>

<%= link_to 'Edit', edit_experience_path(@experience) %>

<%= button_to 'Delete', experience_path(@experience),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this experience?' } %>

<% if @experience.experience_details.any? %>

<h3>Details</h3>

<ul>
  <% @experience.experience_details.each do |detail| %>
  
  <li>
    <%= detail.description %>
    <%= link_to "Edit", edit_experience_experience_detail_path(@experience, detail) %>
    <%= button_to "Delete", experience_experience_detail_path(@experience, detail), method: :delete, data: { confirm: "Are you sure?" } %>
  </li>

  <% end %>
</ul>

<% end %>

<div class="card mb-3">
  <div class="card-body">
    <%= form_for [@experience, @experience.experience_details.build] do |f| %>
      <div class="form-group mb-2 mr-2">
        <%= f.label :description, class: "sr-only" %>
        <%= f.text_area :description, class: "form-control", placeholder: "Enter detail description" %>
      </div>
      <%= f.submit "Add Detail", class: "btn btn-primary mb-2" %>
    <% end %>
  </div>
</div>
